body {
    background:grey;
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-size {
    height: 80px;
    width: 80px;
}

